<ion-app>
  <ion-router-outlet>
    <ion-tabs>
      <ion-tab-bar slot="home">
        <ion-tab-button tab="home">
          <ion-icon name="document-outline"></ion-icon>
          <ion-label>Upload File</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="data-analisis">
          <ion-icon name="analytics-outline"></ion-icon>
          <ion-label>E,S y P</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="configuracion">
          <ion-icon name="build-outline"></ion-icon>
          <ion-label>Configuración</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="stadistic">
          <ion-icon name="pie-chart-outline"></ion-icon>
          <ion-label>Estadistica</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="log-red">
          <ion-icon name="terminal-outline"></ion-icon>
          <ion-label>Log red</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-router-outlet>

</ion-app>
