<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Upload Files
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <strong>Subir datos para la red</strong> <br>
          <input type="file" class="file-upload" accept=".text/csv, .csv" (change)="uploadFile($event)">
        </ion-col>
        <ion-col style="height: 100%;" size="8" class="table-responsive">
          <ion-text>Datos del archivo</ion-text>
          <table  class="table table-bordered table" *ngIf="tableDataFile.length > 0">
            <thead>
            <tr>
              <th scope="col">#</th>
              <ng-container *ngFor="let columns of tableDataFile[0]">
                <th scope="col">{{columns}}
                </th>
              </ng-container>
            </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let rows of tableDataFile; let i = index">
                <tr *ngIf="i > 0">
                  <th scope="col">{{ --i }}</th>
                  <ng-container *ngFor="let data of tableDataFile[i]">
                    <td>{{data | slice:0:10}}</td>
                  </ng-container>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
